<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{>booksHeader}}

    <main>
      <section class="section-books" id="books">
        <div class="container center-text">
          <span class="sub-heading">Romance</span>
        </div>

        <div class="container grid grid--4-cols margin-bottom-md">
          <div class="book" id="book1">
            <img
              src="../img/books/romance-1.jpg"
              class="book-img"
              alt="Jane Eyre"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">Jane Eyre</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Charlotte Brontë</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>507</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (1,667,000)</span>
                </li>

                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1lrHspvkHF--zulvTL5of-qhy3kkEAjtp/view?usp=sharing')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book1')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book2" style="background-color: #fff">
            <img
              src="../img/books/romance-2.jpg"
              class="book-img"
              alt="Pride and Prejudice"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">Pride and Prejudice</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Jane Austen</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>279</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.2</strong> rating (2,951,000)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1OAELuvk7AkIdvAwB1Mqk2k89vmBFEM3a/view?usp=sharing')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book2')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book3">
            <img
              src="../img/books/romance-3.jpg"
              class="book-img"
              alt="The Flatshare"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">The Flatshare</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Beth O'Leary</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>336</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (165,321)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1winwUsf4DQojZ685DjRgGEsK7e7LXetf/view?usp=sharing')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book3')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book4">
            <img
              src="../img/books/romance-4.jpg"
              class="book-img"
              alt="The Hating Game"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">The Hating Game</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Sally Thorne</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>387</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (286,420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1wQRX-nFotIq32ov99OGlGOPH54bCJpcy/view?usp=sharing')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book4')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book5">
            <img
              src="../img/books/romance-5.jpg"
              class="book-img"
              alt="The Kiss Quotient"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">The Kiss Quotient</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Helen Hoang</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>336</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (94,276)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1wiFxOTYep5FzgNuxZG-2uzDUj6enkTq1/view?usp=sharing')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book5')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book6">
            <img
              src="../img/books/romance-6.jpg"
              class="book-img"
              alt="The Rosie Project"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">The Rosie Project</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Graeme Simsion</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>295</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.0</strong> rating (466,729)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1w_wWhcwmauh_0LENeqBgUabsWL-o6QdO/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book6')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book7">
            <img
              src="../img/books/romance-7.jpg"
              class="book-img"
              alt="The Unhoneymooners"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">The Unhoneymooners</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Christina Lauren</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>400</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (152,967)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1wZpCRwxM_CTiYXGD2Ftve4V56vBG1lln/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book7')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book8">
            <img
              src="../img/books/romance-8.jpg"
              class="book-img"
              alt="The Wedding Date"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">The Wedding Date</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Jasmine Guillory</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>326</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>3.6</strong> rating (94,119)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1wUaaXxfiCmQ_Y63erqiuFWUnatvZTtdj/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book8')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book9">
            <img
              src="../img/books/romance-9.jpg"
              class="book-img"
              alt="Beach Read"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">Beach Read</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Emily Henry</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>361</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (149,278)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1wlU1rHf0MoD2F-1Qm0URYUPp2o0ZDAl2/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book9')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book10">
            <img
              src="../img/books/romance-10.jpg"
              class="book-img"
              alt="Eleanor & Park"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">Eleanor & Park</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Rainbow Rowell</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>328</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (801,510)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1wMHTB0KGmwVAJ_kjIMgVvSuHbVM-Cycd/view?usp=drive_link ')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book10')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book11">
            <img
              src="../img/books/romance-11.jpg"
              class="book-img"
              alt="The Bromance Book Club"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">The Bromance Book Club</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Lyssa Kay Adams</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>352</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (95,687)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1wKo0aN9rz5pRwx_ZD0xDYMSfJ3Y-8Mge/view?usp=sharing')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book11')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book12">
            <img
              src="../img/books/romance-12.jpg"
              class="book-img"
              alt="Josh and Hazel's Guide to Not Dating"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--romance">Romance</span>
              </div>
              <p class="book-title">Josh and Hazel's Guide to Not Dating</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Christina Lauren</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>320</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.0</strong> rating (152,897)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1B5p-lC44OOy9ib8BMVTpYY6f7CQ8MIs5/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book12')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

   {{>footer}}

    <script src="../js/config.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
