<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{>booksHeader}}

    <main>
      <section class="section-books" id="books">
        <div class="container center-text">
          <span class="sub-heading">Psychology</span>
        </div>

        <div class="container grid grid--4-cols margin-bottom-md">
          <div class="book" id="book86">
            <img
              src="../img/books/psychology-1.jpg"
              class="book-img"
              alt="The Power of Habit"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--psychology">Psychology</span>
              </div>
              <p class="book-title">The Power of Habit</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Charles Duhigg</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>371</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (499,101)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1A8mk0vYW4Vuk3k1cHbnuW56v7uPPSxm_/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book86')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book87">
            <img
              src="../img/books/psychology-2.jpg"
              class="book-img"
              alt="Man's Search for Meaning"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--psychology">Psychology</span>
              </div>
              <p class="book-title">Man's Search for Meaning</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Viktor E. Frankl</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>168</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.4</strong> rating (586,831)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1AIZJe1pFj5jLHiDowqnPITdr5oqg_RAZ/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book87')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book88">
            <img
              src="../img/books/psychology-3.jpg"
              class="book-img"
              alt="Blink: The Power of Thinking Without Thinking"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--psychology">Psychology</span>
              </div>
              <p class="book-title">
                Blink: The Power of Thinking Without Thinking
              </p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Malcolm Gladwell</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>296</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (546,807)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1A3k7uWEu3UNFmSD496dxdMbfJyiHSoIN/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book88')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book89">
            <img
              src="../img/books/psychology-4.jpg"
              class="book-img"
              alt="Quiet: The Power of Introverts in a World That Can't Stop Talking"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--psychology">Psychology</span>
              </div>
              <p class="book-title">
                Quiet: The Power of Introverts in a World That Can't Stop
                Talking
              </p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Susan Cain</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>368</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.0</strong> rating (416,234)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1ACFBmwL7nd2xJecoeGhCd0FrYMm6RkpL/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book89')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book90">
            <img
              src="../img/books/psychology-5.jpg"
              class="book-img"
              alt="The Body Keeps the Score: Brain, Mind, and Body in the Healing of Trauma"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--psychology">Psychology</span>
              </div>
              <p class="book-title">
                The Body Keeps the Score: Brain, Mind, and Body in the Healing
                of Trauma
              </p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text"
                      >Bessel van der Kolk</strong
                    ></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>464</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.7</strong> rating (94,129)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1ABUTIzyK72IVzogIjaHi7dm5OjOeg3NS/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book90')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book91">
            <img
              src="../img/books/psychology-6.jpg"
              class="book-img"
              alt="Influence: The Psychology of Persuasion"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--psychology">Psychology</span>
              </div>
              <p class="book-title">Influence: The Psychology of Persuasion</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text"
                      >Robert B. Cialdini</strong
                    ></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>336</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.3</strong> rating (116,782)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1ABOL9cYXzM0cQPFLzWbr5aLNdHiPd5Yv/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book91')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book92">
            <img
              src="../img/books/psychology-7.jpg"
              class="book-img"
              alt="The Sociopath Next Door"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--psychology">Psychology</span>
              </div>
              <p class="book-title">The Sociopath Next Door</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Martha Stout</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>252</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>3.9</strong> rating (36,594)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1ASg9FrIbZIGu2EdM3p0xAlPHllXtZPuT/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book92')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book93">
            <img
              src="../img/books/psychology-8.jpg"
              class="book-img"
              alt="The Man Who Mistook His Wife for a Hat and Other Clinical Tales"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--psychology">Psychology</span>
              </div>
              <p class="book-title">
                The Man Who Mistook His Wife for a Hat and Other Clinical Tales
              </p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Oliver Sacks</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>243</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.0</strong> rating (148,721)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1AC_HMvF21sH2ChtOTs9P5q1Cv7MZXpZA/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book93')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    {{>footer}}

    <script src="../js/config.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
