<head>
  <meta charset='UTF-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
  <meta
    name='description'
    content="Bookify is more than just an online bookstore; it's a literary companion dedicated to reigniting your passion for reading. In a busy world where time for reading is scarce, Bookify offers personalized recommendations tailored to your unique tastes. Using advanced technology, Bookify ensures a fulfilling journey of literary discovery and satisfaction year-round. Best of all, it offers a diverse array of books at no cost, inviting you to explore, engage, and enrich your mind without constraints or limitations."
  />

  <meta name='viewport' content='width=device-width, initial-scale=1.0' />

  <!-- <link rel="icon" href="../img/favicon.png" /> -->
  <link rel='apple-touch-icon' href='../img/apple-touch-icon.png' />
  <link rel='mainfest' href='manifest.webmanifest' />

  <link rel='preconnect' href='https://fonts.googleapis.com' />
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
  <link
    href='https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap'
    rel='stylesheet'
  />

  <link rel='stylesheet' href='/css/styles.css' />
  <link rel='stylesheet' href='/css/general.css' />
  <link rel='stylesheet' href='/css/queries.css' />

  <script
    type='module'
    src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js'
  ></script>
  <script
    nomodule
    src='https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js'
  ></script>

  <script
    defer
    src='https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js'
  ></script>

  <title>Bookify | {{title}}</title>
</head>