<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{>booksHeader}}

    <main>
      <section class="section-books" id="books">
        <div class="container center-text">
          <span class="sub-heading">Philosophy</span>
        </div>

        <div class="container grid grid--4-cols margin-bottom-md">
          <div class="book" id="book78">
            <img
              src="../img/books/philosophy-1.jpg"
              class="book-img"
              alt="Beyond Good and Evil"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--philosophy">Philosophy</span>
              </div>
              <p class="book-title">Beyond Good and Evil</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text"
                      >Friedrich Nietzsche</strong
                    ></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>240</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.1</strong> rating (286,420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1-dcXOHSEEsVu6LwI_EruBAoCbhkFNZep/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book78')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book79">
            <img
              src="../img/books/philosophy-2.jpg"
              class="book-img"
              alt="Meditations"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--philosophy">Philosophy</span>
              </div>
              <p class="book-title">Meditations</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Marcus Aurelius</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>304</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.2</strong> rating (28420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1-yj_fscuShlO3abvXtqVVjErNMf25LjE/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book79')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book80">
            <img
              src="../img/books/philosophy-3.jpg"
              class="book-img"
              alt="The Art of War"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--philosophy">Philosophy</span>
              </div>
              <p class="book-title">The Art of War</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span>By <strong class="author-text">Sun Tzu</strong></span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>96</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>3.9</strong> rating (28420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1-raVlA5H08EhRGT1mU3xz28P3Ir2i2wE/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book80')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book81">
            <img
              src="../img/books/philosophy-4.jpg"
              class="book-img"
              alt="Critique of Pure Reason"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--philosophy">Philosophy</span>
              </div>
              <p class="book-title">Critique of Pure Reason</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Immanuel Kant</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>784</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>3.8</strong> rating (28420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1-jGx_z_cgGPLoyBDjL3kvvWVyg0WT8-y/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book81')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book82">
            <img
              src="../img/books/philosophy-5.jpg"
              class="book-img"
              alt="Nicomachean Ethics"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--philosophy">Philosophy</span>
              </div>
              <p class="book-title">Nicomachean Ethics</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span>By <strong class="author-text">Aristotle</strong></span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>416</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.0</strong> rating (28420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1-dSmWV7iEtWtAwgT38XsBXmkGTxzbHmR/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book82')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book83">
            <img
              src="../img/books/philosophy-6.jpg"
              class="book-img"
              alt="The Stranger"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--philosophy">Philosophy</span>
              </div>
              <p class="book-title">The Stranger</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Albert Camus</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>123</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>3.9</strong> rating (28420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1-ep8iuA_s-b8_DAw51DHodxkWyUscPhH/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book83')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book84">
            <img
              src="../img/books/philosophy-7.jpg"
              class="book-img"
              alt="The Birth of Tragedy"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--philosophy">Philosophy</span>
              </div>
              <p class="book-title">The Birth of Tragedy</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text"
                      >Friedrich Nietzsche</strong
                    ></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>128</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>3.8</strong> rating (28420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1-xCF4Bqs5ocFeUxejgSECIKYbG0BVrMF/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book84')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book85">
            <img
              src="../img/books/philosophy-8.jpg"
              class="book-img"
              alt="The Prince"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--philosophy">Philosophy</span>
              </div>
              <p class="book-title">The Prince</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text"
                      >Niccolò Machiavelli</strong
                    ></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>140</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>3.8</strong> rating (28420)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1-vWGjFKlLkNvnt-mTn-nOIrCiErdwG6Q/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book85')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    {{>footer}}

    <script src="../js/config.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
