<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{>booksHeader}}

    <main>
      <section class="section-books" id="books">
        <div class="container center-text">
          <span class="sub-heading">Science Fiction</span>
        </div>

        <div class="container grid grid--4-cols margin-bottom-md">
          <div class="book" id="book94">
            <img
              src="../img/books/scienceFiction-1.jpg"
              class="book-img"
              alt="Neuromancer"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--science-fiction">Science Fiction</span>
              </div>
              <p class="book-title">Neuromancer</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">William Gibson</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>271</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>3.9</strong> rating (308,648)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/19FgyDdRT6iizcSLPgrXkC43eyKTJc_Rg/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book94')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book95">
            <img
              src="../img/books/scienceFiction-2.jpg"
              class="book-img"
              alt="Ready Player One"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--science-fiction">Science Fiction</span>
              </div>
              <p class="book-title">Ready Player One</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Ernest Cline</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>374</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.3</strong> rating (891,523)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/19DBXEznKXlUCKsXZqZBQ2IzudMtwnR2R/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book95')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book96">
            <img
              src="../img/books/scienceFiction-3.jpg"
              class="book-img"
              alt="The Three-Body Problem"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--science-fiction">Science Fiction</span>
              </div>
              <p class="book-title">The Three-Body Problem</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span>By <strong class="author-text">Liu Cixin</strong></span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>400</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.0</strong> rating (142,001)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/19bPt5z-4XdQjjJTRmY76XFyb1nQJfpeH/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book96')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book97">
            <img
              src="../img/books/scienceFiction-4.jpg"
              class="book-img"
              alt="Foundation"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--science-fiction">Science Fiction</span>
              </div>
              <p class="book-title">Foundation</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Isaac Asimov</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>244</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.2</strong> rating (181,502)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/19GeDqod3IoqvaMYALsxZUuSZCoMDZ5Vo/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book97')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book98">
            <img
              src="../img/books/scienceFiction-5.jpg"
              class="book-img"
              alt="Dune"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--science-fiction">Science Fiction</span>
              </div>
              <p class="book-title">Dune</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Frank Herbert</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>896</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.2</strong> rating (704,830)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/19wylzJuVxXNnOXfwg6XJs0QDrfxQIEKC/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book98')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book99">
            <img
              src="../img/books/scienceFiction-6.jpg"
              class="book-img"
              alt="The Hitchhiker's Guide to the Galaxy"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--science-fiction">Science Fiction</span>
              </div>
              <p class="book-title">The Hitchhiker's Guide to the Galaxy</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Douglas Adams</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>216</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.2</strong> rating (1,306,582)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/19pZNxsySuKYB7KEEKL_11-GH60OMhGqY/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book99')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book100">
            <img
              src="../img/books/scienceFiction-7.jpg"
              class="book-img"
              alt="Hyperion"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--science-fiction">Science Fiction</span>
              </div>
              <p class="book-title">Hyperion</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By <strong class="author-text">Dan Simmons</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>482</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.2</strong> rating (143,208)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/19g2zKVi5UFqTOdnfZsNA_RkuPfQis51G/view?usp=drive_link')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book100')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>

          <div class="book" id="book101">
            <img
              src="../img/books/scienceFiction-8.jpg"
              class="book-img"
              alt="Ender's Game"
            />

            <div class="book-content">
              <div class="book-tags">
                <span class="tag tag--science-fiction">Science Fiction</span>
              </div>
              <p class="book-title">Ender's Game</p>
              <ul class="book-attributes">
                <li class="book-attribute">
                  <img
                    src="../img/books/author-icon.png"
                    class="book-icon author-icon"
                  />
                  <span
                    >By
                    <strong class="author-text">Orson Scott Card</strong></span
                  >
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="book-outline"></ion-icon>
                  <span><strong>324</strong> Pages</span>
                </li>
                <li class="book-attribute">
                  <ion-icon class="book-icon" name="star-outline"></ion-icon>
                  <span><strong>4.3</strong> rating (1,258,618)</span>
                </li>
                <li class="flex">
                  <a
                    class="btn btn--read"
                    onclick="checkLoginAndRedirect('https://drive.google.com/file/d/19znflyy61I24mWB2oSeOJvSD0Crk606N/view?usp=sharing')"
                    >Read</a
                  ><button
                    class="btn btn--favorite"
                    onclick="addToWishlist('book101')"
                  >
                    ❤️
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    {{>footer}}

    <script src="../js/config.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
