<header class='header'>
  <a href='/'>
    <img src='../img/bookify-logo.png' alt='Bookify logo' class='logo' />
  </a>

  <nav class='main-nav'>
    <ul class='main-nav-list'>
      <li class='dropdown'>
        <a class='main-nav-link' href='/categories'>Categories &dtrif;</a>
        <ul class='dropdown-menu'>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/fiction'
            >Fiction</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/non-fiction'
            >Non-fiction</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/mystery'
            >Mystery/Thriller</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/romance'
            >Romance</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/science-fiction'
            >Science Fiction</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/fantasy'
            >Fantasy</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/historical-fiction'
            >Historical Fiction</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/biography'
            >Biography/Memoir</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/self-help'
            >Self-Help</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/young-adult'
            >Young Adult</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/philosophy'
            >Philosophy</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/business'
            >Business</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories'
              href='/books/psychology'
            >Psychology</a>
          </li>
          <li>
            <a
              class='main-nav-link nav-categories link--indian-authors'
              href='/books/indian-authors'
            >Indian Authors</a>
          </li>
        </ul>
      </li>
      <li>
        <a class='main-nav-link' href='/favorites'>Favorites</a>
      </li>
      <li>
        <a
          class='main-nav-link nav-feedback'
          id='login-btn'
          href='/auth/login'
        >Login</a>
      </li>
      <li>
        <button
          id='signout-btn'
          style='display: none'
          class='btn btn--sign-out'
        >
          Sign Out
        </button>
      </li>
    </ul>
  </nav>

  <button class='btn-mobile-nav'>
    <ion-icon class='icon-mobile-nav' name='menu-outline'></ion-icon>
    <ion-icon class='icon-mobile-nav' name='close-outline'></ion-icon>
  </button>
</header>