<section class="section-books" id="books">
  <div class="container center-text">
    <span class="sub-heading">Categories</span>
  </div>

  <div class="container">
    <div class="grid-container">
      <a href="/books/fiction" class="genre-box tag--fiction center-text">
        <h3 class="heading-category">Fiction</h3>
      </a>
      <a href="/books/mystery" class="genre-box tag--mystery center-text">
        <h3 class="heading-category">Mystery/Thriller</h3>
      </a>
      <a href="/books/romance" class="genre-box tag--romance center-text">
        <h3 class="heading-category">Romance</h3>
      </a>
      <a
        href="/books/science-fiction"
        class="genre-box tag--science-fiction center-text"
      >
        <h3 class="heading-category">Science Fiction</h3>
      </a>
      <a href="/books/fantasy" class="genre-box tag--fantasy center-text">
        <h3 class="heading-category">Fantasy</h3>
      </a>
      <a
        href="/books/historical-fiction"
        class="genre-box tag--historical-fiction center-text"
      >
        <h3 class="heading-category">Historical Fiction</h3>
      </a>
      <a
        href="/books/young-adult"
        class="genre-box tag--young-adult center-text"
      >
        <h3 class="heading-category">Young Adult</h3>
      </a>
      <a
        href="/books/non-fiction"
        class="genre-box tag--non-fiction center-text"
      >
        <h3 class="heading-category">Non-Fiction</h3>
      </a>
      <a href="/books/biography" class="genre-box tag--memoir center-text">
        <h3 class="heading-category">Biography/Memoir</h3>
      </a>
      <a href="/books/self-help" class="genre-box tag--self-help center-text">
        <h3 class="heading-category">Self-Help</h3>
      </a>
      <a href="/books/business" class="genre-box tag--business center-text">
        <h3 class="heading-category">Business</h3>
      </a>
      <a href="/books/psychology" class="genre-box tag--psychology center-text">
        <h3 class="heading-category">Psychology</h3>
      </a>
      <a href="/books/philosophy" class="genre-box tag--philosophy center-text">
        <h3 class="heading-category">Philosophy</h3>
      </a>
      <a
        href="/books/indian-authors"
        class="genre-box tag--indian-authors center-text"
      >
        <h3 class="heading-category">Indian Authors</h3>
      </a>
    </div>
  </div>
</section>
