<section class="section-books" id="wishlist">
  <div class="container center-text">
    <span class="sub-heading">Favorites</span>
  </div>

  <div
    id="wishlist-container"
    class="container grid grid--3-cols margin-bottom-md"
  >
    <!-- Wishlist items will be dynamically added here -->
  </div>

  <div id="loginMessage" style="display: none" class="empty-favorites-message">
    <p class="heading-tertiary" style="margin-bottom: 0">
      Please log in to add books to your favorites.
    </p>
  </div>
</section>
