<section class="section-books" id="books">
  <div class="container center-text">
    <span class="sub-heading">New Arrivals</span>
  </div>

  <div class="container grid grid--4-cols margin-bottom-md">
    <a class="book" onclick="checkLoginAndRedirect('')">
      <img src="../img/books/coming-soon.jpg" class="book-img" alt="" />

      <div class="book-content">
        <div class="book-tags">
          <span class="tag tag--fantasy"></span>
        </div>
        <p class="book-title"></p>
        <ul class="book-attributes">
          <li class="book-attribute">
            <img
              src="../img/books/author-icon.png"
              class="book-icon author-icon"
            />
            <span>By <strong></strong></span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="book-outline"></ion-icon>
            <span><strong></strong> Pages</span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong></strong> rating ()</span>
          </li>
        </ul>
      </div>
    </a>

    <a class="book" onclick="checkLoginAndRedirect('')">
      <img src="../img/books/coming-soon.jpg" class="book-img" alt="" />

      <div class="book-content">
        <div class="book-tags">
          <span class="tag tag--fantasy"></span>
        </div>
        <p class="book-title"></p>
        <ul class="book-attributes">
          <li class="book-attribute">
            <img
              src="../img/books/author-icon.png"
              class="book-icon author-icon"
            />
            <span>By <strong></strong></span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="book-outline"></ion-icon>
            <span><strong></strong> Pages</span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong></strong> rating ()</span>
          </li>
        </ul>
      </div>
    </a>

    <a class="book" onclick="checkLoginAndRedirect('')">
      <img src="../img/books/coming-soon.jpg" class="book-img" alt="" />

      <div class="book-content">
        <div class="book-tags">
          <span class="tag tag--fantasy"></span>
        </div>
        <p class="book-title"></p>
        <ul class="book-attributes">
          <li class="book-attribute">
            <img
              src="../img/books/author-icon.png"
              class="book-icon author-icon"
            />
            <span>By <strong></strong></span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="book-outline"></ion-icon>
            <span><strong></strong> Pages</span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong></strong> rating ()</span>
          </li>
        </ul>
      </div>
    </a>

    <a class="book" onclick="checkLoginAndRedirect('')">
      <img src="../img/books/coming-soon.jpg" class="book-img" alt="" />

      <div class="book-content">
        <div class="book-tags">
          <span class="tag tag--fantasy"></span>
        </div>
        <p class="book-title"></p>
        <ul class="book-attributes">
          <li class="book-attribute">
            <img
              src="../img/books/author-icon.png"
              class="book-icon author-icon"
            />
            <span>By <strong></strong></span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="book-outline"></ion-icon>
            <span><strong></strong> Pages</span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong></strong> rating ()</span>
          </li>
        </ul>
      </div>
    </a>
  </div>
</section>
