<section class="section-books" id="books">
  <div class="container center-text">
    <span class="sub-heading">Young Adult</span>
  </div>

  <div class="container grid grid--4-cols margin-bottom-md">
    <div class="book" id="book13">
      <img
        src="../img/books/youngAdult-1.jpg"
        class="book-img"
        alt="The Fault in Our Stars"
      />

      <div class="book-content">
        <div class="book-tags">
          <span class="tag tag--young-adult">Young Adult</span>
        </div>
        <p class="book-title">The Fault in Our Stars</p>
        <ul class="book-attributes">
          <li class="book-attribute">
            <img
              src="../img/books/author-icon.png"
              class="book-icon author-icon"
            />
            <span>By <strong class="author-text">John Green</strong></span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="book-outline"></ion-icon>
            <span><strong>313</strong> Pages</span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong>4.2</strong> rating (3,588,000)</span>
          </li>
          <li class="flex">
            <!-- Inside the "Read" button of each book -->
            <a
              class="btn btn--read"
              onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1ZwMyFRfEpWOXLhhsJmLZSUUiJcgo7aH9/view?usp=drive_link')"
              >Read</a
            >
            <button class="btn btn--favorite" onclick="addToWishlist('book13')">
              ❤️
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="book" id="book14">
      <img
        src="../img/books/youngAdult-2.jpg"
        class="book-img"
        alt="The Hate U Give"
      />

      <div class="book-content">
        <div class="book-tags">
          <span class="tag tag--young-adult">Young Adult</span>
        </div>
        <p class="book-title">The Hate U Give</p>
        <ul class="book-attributes">
          <li class="book-attribute">
            <img
              src="../img/books/author-icon.png"
              class="book-icon author-icon"
            />
            <span>By <strong class="author-text">Angie Thomas</strong></span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="book-outline"></ion-icon>
            <span><strong>444</strong> Pages</span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong>4.5</strong> rating (548,000)</span>
          </li>
          <li class="flex">
            <a
              class="btn btn--read"
              onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1BOwFEse6NxaQnHeiogAWrcLDdOz933IT/view?usp=drive_link')"
              >Read</a
            ><button
              class="btn btn--favorite"
              onclick="addToWishlist('book14')"
            >
              ❤️
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="book" id="book15">
      <img
        src="../img/books/youngAdult-3.jpg"
        class="book-img"
        alt="Six of Crows"
      />

      <div class="book-content">
        <div class="book-tags">
          <span class="tag tag--young-adult">Young Adult</span>
        </div>
        <p class="book-title">Six of Crows</p>
        <ul class="book-attributes">
          <li class="book-attribute">
            <img
              src="../img/books/author-icon.png"
              class="book-icon author-icon"
            />
            <span>By <strong class="author-text">Leigh Bardugo</strong></span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="book-outline"></ion-icon>
            <span><strong>465</strong> Pages</span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong>4.3</strong> rating (473,000)</span>
          </li>
          <li class="flex">
            <a
              class="btn btn--read"
              onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1BAud1E_FAftv0vuWTIhxlNcp9i7u969H/view?usp=drive_link')"
              >Read</a
            ><button
              class="btn btn--favorite"
              onclick="addToWishlist('book15')"
            >
              ❤️
            </button>
          </li>
        </ul>
      </div>
    </div>

    <div class="book" id="book16">
      <img
        src="../img/books/youngAdult-4.jpg"
        class="book-img"
        alt="The Hunger Games"
      />

      <div class="book-content">
        <div class="book-tags">
          <span class="tag tag--young-adult">Young Adult</span>
        </div>
        <p class="book-title">The Hunger Games</p>
        <ul class="book-attributes">
          <li class="book-attribute">
            <img
              src="../img/books/author-icon.png"
              class="book-icon author-icon"
            />
            <span>By <strong class="author-text">Suzanne Collins</strong></span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="book-outline"></ion-icon>
            <span><strong>374</strong> Pages</span>
          </li>
          <li class="book-attribute">
            <ion-icon class="book-icon" name="star-outline"></ion-icon>
            <span><strong>4.3</strong> rating (6,720,000)</span>
          </li>
          <li class="flex">
            <a
              class="btn btn--read"
              onclick="checkLoginAndRedirect('https://drive.google.com/file/d/1BKzgh73tcz5dIRAhEZK97gsUawbBT9UT/view?usp=drive_link')"
              >Read</a
            ><button
              class="btn btn--favorite"
              onclick="addToWishlist('book16')"
            >
              ❤️
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
