<main class="main">
  <div class="login-form">
    <h2 class="heading-secondary ma-bt-lg">Create your account!</h2>
    <form
      action="/auth/register"
      method="POST"
      class="form form--signup"
      id="signup-form"
    >
      <div class="form__group">
        <label class="form__label" for="name">Name</label>
        <input
          class="form__input"
          id="name-input"
          name="name"
          type="text"
          placeholder="Aaditya"
          required
        />
      </div>
      <div class="form__group">
        <label class="form__label" for="email">Email address</label>
        <input
          class="form__input"
          id="email-input"
          name="email"
          type="email"
          placeholder="you@example.com"
          required
        />
      </div>
      <div class="form__group ma-bt-md">
        <label class="form__label" for="password">Password</label>
        <input
          class="form__input"
          id="password-input"
          type="password"
          name="password"
          placeholder="••••••••"
          required
          minlength="8"
        />
      </div>
      <div class="form__group">
        <button type="submit" class="btn btn--blue">Sign up</button>
      </div>
    </form>
  </div>
</main>
